#dropdown-menu {
    display: none; /* Le menu est caché par défaut */
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}

#dropdown-menu.show {
    display: block; /* Le menu devient visible */
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}